<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Headache Hadoop - Tutorial</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//use.edgefonts.net/neuton.js"></script> 
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  </head>
  <body>
    <header>
      <img src="images/logo_small.png" />
      <h1>No Headache Hadoop - Tutorial</h1>
    </header>
    <section id="content">
      {{content}}
    </section>

    <script src="scripts/script.js"></script>
  </body>
</html>
